

    <div class="hero-unit">
        <h1> Welcome to the Test App </h1>
        <h4>This is test application for the user dashboard. Welcome people. Explore here.
            You can create users and assign them roles if you are an administrator. If not,
            you can manage your dashboard. There are lot of features given in the requirements.
            I am not sure how many features i can add them to this website. Let me know what you
            find interesting and what is missing here. 
        </h4>
        <a href="" class="btn btn-large btn-success"> Start </a>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>Manage Users</h3>
            <p>Using this application, you will learn how to add, remove, and edit users 
               for the application. 
            </p>
        </div>
        <div class="col-sm-4">
            <h3>Leave Messages</h3>
            <p>Users will be able leave a message to another using this application. 
            </p>
        </div>
        <div class="col-sm-4">
            <h3>Edit User Information</h3>
            <p>Admins will be able to edit another user's information (email address, first name, 
                last name, etc). 
            </p>
        </div>
    </div>
